html, body, a, h1, h2, h3, h4, h5, h6 {font-family:'Roboto',sans-serif !important}

.topbar{padding-top:1em;padding-bottom:1em;background-color:white;z-index:2;transition: padding 0.5s;}
.pad500{padding-top:2em;padding-bottom:30em;}
a {text-decoration: none}
a:hover, button:hover {text-decoration: none;color:red; display:block}
.nopadding {padding: 0px!important}
.white-text {color: white}
.icon {font-size:28px!important;color:red}
ul#slideshow{list-style:none;border:1px solid #999;padding:2px;margin:auto;margin-top:5%;width:640px;height:480px;overflow:hidden;}

.display-top{position:absolute;top:0;width:100%;text-align:center;color:white;z-index:2;}
.display-bottom{position:absolute;bottom:0;width:100%;color:white;z-index:2;}
.display-all{position:absolute;top:0;width:100%;height:100%;z-index:1;animation: fadein 0.8s;}

@media (max-width: 480px) {
	.logo {width:77px!important;height:26px!important}
	.page-wrapper {height:600px!important;max-width:408px!important;margin:15px!important}
	.cube {width:271px;height:177px}
	.cube-wide {width:271px;height:382px}
	html, body {font-size: 80%}
	h1, h2, h3, h4, h5, h6, a {font-size: 100%}
}
@media (max-width: 1024px) {
	.logo {width:115px;height:40px}
	.page-wrapper {height:1800px!important;max-width:924px !important;margin:52px!important}
	.cube {width:462px;height:379px}
	.cube-wide {width:462px;height:758px}
}
@media (min-width: 1280px) {
	.logo {width:115px;height:40px}
	.page-wrapper {height:1800px!important;max-width:1221px!important;margin:52px!important}
	.cube {width:590px;height:379px}
	.cube-wide {width:590px;height:758px}
}
